{{#each albumlist}}
  <div>
    <div><h1>{{this.name}}</h1></div>
    <div><img src="{{this.images.0.url}}" height="200px" alt="" /></div>
    <a href="/tracklist/{{this.id}}">View Tracks</a></div>

  <h1>-------------------------</h1>
{{/each}}