{{#each myArtistsArray}}
  <div><div><img src="{{this.images.0.url}}" height="200px" alt="" /></div>

    <h1>{{this.name}}</h1>
    <a href="/albums/{{this.id}}">View Albums</a>
  </div>
  <h1>-------------------------</h1>

{{/each}}