{{#each myArtistsArray}}
  {{#each this.images}}
    {{!-- <h2>{{this}}</h2> --}}
  {{/each}}
  <h1>{{this.name}}</h1>
  {{!-- <img src={{this.images[0]}} alt=""> --}}
  <a href="/albums/{{this.id}}">View Albums</a>
{{/each}}